html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.0rem;
}

.searchContainer {
    padding: 2% 0;
    padding-left: 30px;
    margin-left: 50px;
    width: 40%;
    background-color: rgba(40,40,40,0.8);
    border-radius: 20px;
    position: relative;
    top: 40px;
}

#Covid {
    padding: 2% 5%;
    margin: 0 50px;
    width: 20%;
    background-color: rgba(40,40,40,0.8);
    border-radius: 20px;
    position: relative;
    top: 40px;
    color: white;
    display: none;
}

#Weather {
    padding: 2% 5%;
    margin: 0 50px;
    width: 30%;
    background-color: rgba(40,40,40,0.8);
    border-radius: 20px;
    position: relative;
    top: 40px;
    color: white;
    text-align: center;
    display: none;
}

#Weather img {
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    margin-top: 10px;
}

#venueContainer {
    padding: 2% 5%;
    margin: 0 50px;
    width: 50%;
    background-color: rgba(40,40,40,0.8);
    border-radius: 20px;
    position: relative;
    top: 40px;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.venue {
    text-align: center;
    width: 100%;
}

.firstRow {
    display: flex;
    justify-content:space-between
}

.secondRow {
    display: flex;
}

.searchBox {
    margin-top: 30px;
}

.searchText {
    color: white;
}

.searchBox input {
    padding: 8px 10px;
    padding-right: 40px;
    width: 70%;
    font-size: 1rem;
}

.searchBox button {
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 1rem;
}

.container {
    background-image: url(images/pexels-aleksandar-pasaric-1285625.jpg);
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-size: cover;
}