html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.searchText h1 {
    font-size: 26px;
}

.searchContainer {
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 30px;
    margin-left: 50px;
    width: 40%;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 20px;
    margin-top: 40px;
}

#Covid {
    padding: 2% 5%;
    margin: 0 50px;
    width: 30%;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 20px;
    margin-top: 40px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Covid h2 {
    font-size: 20px;
}

#Covid h1 {
    font-size: 26px;
    font-weight: 700;
}

#Covid p {
    font-weight: 100;
}

#Weather {
    padding: 2% 5%;
    margin: 0 50px;
    width: 20%;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 20px;
    color: white;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Weather h1 {
    font-size: 24px;
    font-weight: 700;
}

#Weather h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

#Weather p {
    margin: 2px 0;
}

#Weather img {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-top: 10px;
    width: 100px;
}

#bigVenueContainer {
    margin-top: 40px;
    display: none;
    padding: 2% 5%;
    margin: 0 50px;
    width: 60%;
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
    border-radius: 20px;
}

#bigVenueContainer > h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

#venueContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.venue:nth-child(2) {
    border-right: solid 2px white;
    border-left: solid 2px white;
    padding: 0 5px;
    margin: 0 5px;
}

.venue {
    text-align: center;
    width: 100%;
}

.venue h1 {
    font-size: 18px;
    font-weight: 700;
}

.venue h2 {
    font-size: 16px;
    text-decoration: underline;
}

.venue p {
    font-size: 12px;
}

.venue img {
    width: 60px;
    margin: 5px 0;
}

#bigVenueContainer .seeMore {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.firstRow {
    display: flex;
    justify-content: space-between;
}

.secondRow {
    display: flex;
}

.searchBox {
    margin-top: 20px;
}

.searchText {
    color: white;
}

.searchBox input {
    padding: 8px 10px;
    padding-right: 40px;
    width: 70%;
    font-size: 16px;
}

.searchBox button {
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 1rem;
}

.searchBox button:hover {
    cursor: pointer;
}

.container {
    background-image: url(images/pexels-aleksandar-pasaric-1285625.jpg);
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.loadingComplete {
    margin: 5px 0;
    display: none;
    align-items: center;
}

.loadCompleteImage {
    width: 20px;
}

.loadingComplete span {
    color: green;
    margin-left: 3px;
}

.loadingThrobber {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.loadingThrobber span {
    color: lightgray;
    margin-left: 3px;
}

.loader {
    margin: 5px 0;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-------------------- More Venues Styles ----------------------*/

.backHome {
    display: flex;
    align-items: center;
    margin: 0 50px;
    color: white;
    padding-bottom: 20px;
}

.backSymbol {
    font-size: 40px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(40, 40, 40, 0.8);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.backSymbol > a {
    text-decoration: none;
}

.backSymbol a:link,
.backText a:link,
.seeMore a:link,
.backSymbol a:visited,
.backText a:visited,
.seeMore a:visited {
    color: white;
}

.backSymbol a:active,
.backText a:active,
.seeMore a:active {
    color: lightgray;
}

.backText {
    font-size: 25px;
    margin-top: 20px;
    padding: 19px 0;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(40, 40, 40, 0.8);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.bigMoreVenuesContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

#moreVenues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 2% 5%;
    margin: 0 50px;
    width: 80%;
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
    border-radius: 20px;
}

.moreVenue {
    margin: 1%;
    text-align: center;
    width: 17%;
}

.moreVenue:nth-child(2),
.moreVenue:nth-child(4),
.moreVenue:nth-child(7),
.moreVenue:nth-child(9) {
    border-right: solid 2px white;
    border-left: solid 2px white;
    padding: 0 1%;
}

.moreVenue h1 {
    font-size: 18px;
    font-weight: 700;
}

.moreVenue h2 {
    font-size: 16px;
    text-decoration: underline;
}

.moreVenue p {
    font-size: 12px;
}

.moreVenue img {
    width: 60px;
    margin: 5px 0;
}

@media only screen and (max-width: 1120px) {

    .searchBox button {
        margin-right: 10px;
    }

    .searchBox input {
        width: 60%;
    }

    .searchText h1 {
        font-size: 22px;
    }

    #Covid h2 {
        font-size: 18px;
    }

    #Weather h1 {
        font-size: 22px;
    }

    #Weather img {
        width: 80px;
    }

    #Weather p {
        font-size: 12px;
    }

    #bigVenueContainer > h1 {
        font-size: 22px;
    }

    .venue h1, .moreVenue h1 {
        font-size: 16px;
    }

    .venue h2, .moreVenue h2 {
        font-size: 14px;
    }

    .venue p, .moreVenue p {
        font-size: 10px;
    }

    .venue img, .moreVenue img {
        width: 50px;
    }

    .searchBox input {
        font-size: 12px;
    }

    .searchBox button {
        font-size: 12px;
    }
    
    #moreVenues {
        justify-content: center;
    }

    .moreVenue {
        width: 20%;
    }

    .moreVenue:nth-child(6) {
        border-right: solid 2px white;
        border-left: solid 2px white;
        padding: 0 1%;
    }
    
    .moreVenue:nth-child(4), .moreVenue:nth-child(7), .moreVenue:nth-child(9) {
        border: none;
        padding: 0;
    }
    
    .moreVenue:nth-child(4), .moreVenue:nth-child(8), .moreVenue:nth-child(10) {
        border-left: solid 2px white;
        padding-left: 1%;
    }
    
    .moreVenue:nth-child(10) {
        padding-left: 3%;
    }

}

@media only screen and (max-width: 860px) {

    .firstRow {
        flex-direction: column;
        align-items: center;
    }

    .secondRow {
        flex-direction: column;
        align-items: center;
    }

    .loadingComplete span {
        font-size: 14px;
    }

    .loadingThrobber span {
        font-size: 14px;
    }

    .loadCompleteImage {
        width: 16px;
    }

    .loader {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        width: 9px;
        height: 9px;
    }

    .searchContainer {
        width: 80%;
        margin-left: 0;
        padding: 2% 5%;
        text-align: center;
    }

    #Covid,
    #Weather {
        width: 80%;
    }

    #bigVenueContainer {
        width: 80%;
        margin: 40px 0;
    }
    
    .moreVenue {
        width: 45%;
    }
    
    .moreVenue:nth-child(2), .moreVenue:nth-child(6) {
        border-right: none;
        border-left: solid 2px white;
        padding-right: 0;
    }
    
    .backSymbol {
        font-size: 30px;
    }
    
    .backText {
        font-size: 16px;
    }

}

@media only screen and (max-width: 380px) {

    .searchText h1 {
        font-size: 18px;
    }

    #Covid h2 {
        font-size: 16px;
    }

    #Weather h1 {
        font-size: 18px;
    }

    #bigVenueContainer > h1 {
        font-size: 18px;
    }

    .venue h1 {
        font-size: 14px;
    }
    
    .moreVenue h1 {
        font-size: 12px;
    }

    .venue h2, .moreVenue h2 {
        font-size: 12px;
    }
    
    .moreVenue p {
        font-size: 8px;
    }

    .searchBox input {
        padding: 5px;
        width: 65%;
    }

    .searchBox button {
        padding: 7px 5px;
    }

}
